<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="login-container">
        <h2 style="color: red;">{{msg2}}</h2>
        <h2 style="color: red;">{{msg3}}</h2>
        <h2>Change Password</h2>

        <form action="{% url 'reset' %}" method="post">
            {% csrf_token %}
            <label>Enter OTP:</label>
            <input type="text" placeholder="Enter your OTP" name="otp" > <br> <br>

            <label>New Password</label>
            <input type="text" placeholder="Enter your Password" name="n_pass" > <br> <br>

            <label>New Cpassword</label>
            <input type="text" placeholder="Enter your Cpassword" name="c_pass"> <br> <br>
            
           <a href=""> <button>reset</button> </a> <br> <br>
        </form>
    </div>

</body>
</html>
