<form action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter full name" value="{{data.name}}">
    </div>  <br>

    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" name="email" >
    </div> <br>


    <div class="mb-3">
        <label class="form-label">Contact</label>
        <input type="tel" name="number" >
    </div> <br>

    <div class="mb-3">
        <label class="form-label">Query</label>
        <input type="text" name="query" >
    </div> <br>
    <button> send Email</button>
</form>